~
build/
builds/
BuildLogs/
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
zip/
unzip/**
[Tt]est[Rr]esult
[Bb]uild[Ll]og.*
*.swp
*.userprefs
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*.pidb
*_i.c
*_p.c
*node_modules*
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.[Rr]e[Ss]harper
*.[Pp]ublish.xml
*results.xml
*.plugin
*.boo
*.log
*.log.*
*.InstallLog
InputOutput/**
InputOutput/
[Dd]eployment/WWW/
*crunch*
packages/*
*.js.html
